{% extends 'main.html' %} 

{% block content %}
<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 20px;
  }

  .topics, .hives{
    background-color: #2d3346; 
    padding: 10px; 
    border-radius: 8px; 
  }
  .list, .topics div {
    padding: 8px;
  }
</style>

<h1 class="text-primary ">Hive</h1>

<div class="container">
  <!-- show topics -->
  <div class="topics">
    <h2>Top Topics</h2>
    <div>
      <a href="{%url 'homepage'%}">Explore</a>
    </div>
    {% for topic in topics %}
      <div class="list">
        <a href="{% url 'homepage' %}?q={{ topic.name }}">{{ topic.name }}</a>
      </div>
    {% endfor %}
  </div>

  <!-- hives -->
  <div class="hives">
    <h5>{{hive_count}} Hives found</h5>
    <a href="{% url 'create-hive' %}">Create A New Hive</a>
    <hr />
    {% for hive in hives %}
      <span> @{{ hive.creator.username }}</span>
      <h2>{{ hive.id }} - <a href="{% url 'hive' hive.id %}">{{ hive.buzz }}</a></h2>
      <span>{{ hive.topic }}</span>
      {% if request.user == hive.creator %}
      <a href="{% url 'update-hive' hive.id %}">Edit</a>
      <a href="{% url 'delete-hive' hive.id %}">Delete</a>
      {% endif %}
      <hr />
    {% endfor %}
  </div>
</div>
{% endblock content %}
