{% extends 'main.html' %} 

{% block content %}
<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    gap: 20px;
  }

  .topics, .hives, .activities{
    background-color: #2d3346; 
    padding: 10px;
    border-radius: 8px; 
  }
  .list, .topics div {
    padding: 8px;
  }
</style>

<h1 class="text-primary">Hive</h1>
<hr>
<div class="container">
  <!-- show topics -->
  <div class="topics">
    {% include 'home/topic_comps.html' %}
  </div>

  <!-- hives -->
  <div class="hives">
    <h5>{{hive_count}} Hives found</h5>
    <a href="{% url 'create-hive' %}">Create A New Hive</a>
    <hr />
    <div>
      {% include 'home/feed_comps.html'%}
    </div>
  </div>
  <div class="activities">
    {% include 'home/activity_comps.html' %}
  </div>
</div>
{% endblock content %}
