{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
  <div>
    <form method="POST" action="">
      {% csrf_token %}
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
    <p>New to Hive?</p>
    <a href="{% url 'register' %}">Sign Up</a>
  </div>
  
{% else %}
  <div>
    <form method="POST" action="">
      {% csrf_token %}
      <div>
        <button type="submit">Register</button>
      </div>
    </form>
    <p>Already a member?</p>
    <a href="{% url 'login' %}">Sign In</a>
  </div>
{% endif %}
{% endblock %}
